<?xml version="1.0" encoding="gbk"?>
 <protocols>
 	<module name="10 test1" package="">
 		<protocol id="1001" name="loginReq" desc="登录" content="string userName = 1;      &amp;#xA;string userPwd = 2;" onlyServer="True"/>
 		<protocol id="1102" name="loginUserReq" desc="dfdfd&amp;#xA;sdfs" content="string name=1; // 名字&amp;#xA;int age = 2; // 年龄" onlyServer="False"/>
 	</module>
 </protocols>
