<?xml version="1.0" encoding="gbk"?> <setting>                                                              
 	                                                              <tool>                                                              
 		                                                              <protocPath>D:/work/ProtocolEditor/ProtoExcelTool/proto_tool</protocPath>                                                              
 		                                                              <protoPath>D:/work/tmp</protoPath>                                                              
 		                                                              <tablePath>D:/work/ProtocolEditor/ProtoExcelTool</tablePath>                                                              
 	                                                              </tool>                                                              
                                                               </setting>