<?xml version="1.0" encoding="gbk"?> <setting> 
 	
 	  
 	
 	
 	
 	
 	
 	
 	  
 	
 	 <tool> 
 		
 		  
 		
 		
 		
 		
 		
 		
 		  
 		
 		 <protocPath>./</protocPath> 
 		
 		  
 		
 		
 		
 		
 		
 		
 		  
 		
 		 <protoPath>./</protoPath> 
 		
 		  
 		
 		
 		
 		
 		
 		
 		  
 		
 		 <tablePath>./</tablePath> 
 		
 		  
 		
 		
 		
 	
 	
 	
 	  
 	
 	 </tool> 
 	
 	  
 	
 	
 	
 
 	
 	
 	
 	
 	
 	
 
 	
 	
 	
 	
 	
 	
 
 	  
 	  
 	  
 	  
 	  
 	  
   
 	
 	
 	
 	
 	
 	
 
 	 <protocol> 
 		 <tmpl lang="2" name="dfdfb" publish="G:/DawaProto/ProtoExcelTool/proto_tool"/> 
 	 </protocol> 
 	 <enum/> 
 	 <table/> 
  </setting>