<?xml version="1.0" encoding="GB2312"?>
 <Enums>
 	<Enum desc="职业" name="EmJob" type="3">
 		<field desc="战士" index="0" name="Warrior"/>
 		<field desc="法师" index="1" name="Master"/>
 		<field desc="道士" index="2" name="Monk"/>
 	</Enum>
 	<Enum desc="场景类型" name="EmScene" type="1">
 		<field desc="普通场景" index="1001" name="Scene1"/>
 		<field desc="普通场景" index="1002" name="Scene2"/>
 		<field desc="普通场景" index="1003" name="Scene3"/>
 	</Enum>
 </Enums>
