<?xml version="1.0" encoding="GB2312"?>
 <Enums>
 	<Enum name="ErrCode" desc="登录返回错误码" type="3">
 		<field index="0" name="Ok" desc="成功"/>
 		<field index="1" name="Err" desc="错误"/>
 		<field index="2" name="Failed" desc="失败"/>
 		<field index="3" name="Params" desc="参数错误"/>
 		<field index="4" name="FuncNotOpen" desc="功能未开启"/>
 		<field index="5" name="InvalidTable" desc="表格数据不存在"/>
 		<field index="1101" name="UserNotExit" desc="用户名或者密码错误"/>
 		<field index="6" name="WriteFileErr" desc="写文件失败"/>
 	</Enum>
 </Enums>
