<?xml version="1.0" encoding="gbk"?>
 <Enums>
 	<Enum desc="qqq" name="EmJob">
 		<field desc="xxx" index="0" name="ffff"/>
 		<field desc="aaa" index="1" name="ddd"/>
 	</Enum>
 	<Enum desc="pppp" name="EmHaha">
 		<field desc="fff" index="0" name="jjj"/>
 		<field desc="bbb" index="1" name="lll"/>
 	</Enum>
 	<Enum desc="sftjsrtj" name="fts">
 		<field desc="ftjsrtj" index="0" name="ftjrsst"/>
 		<field desc="ftjfs" index="1" name="ftgjrftj"/>
 		<field desc="ftgjs" index="2" name="sgj"/>
 	</Enum>
 </Enums>
