<?xml version="1.0" encoding="GB2312"?>
 <protocols>
 	<module name="10 login" package="">
 		<protocol type="1" id="7056" name="LoginMsgReq" desc="登录到游戏并获取角色列表" content="string name = 1;&amp;#xA;string token = 2;&amp;#xA;string uuid = 3;&amp;#xA;string wallet = 4;&amp;#xA;int32 invitationstatus = 5;" onlyServer="True"/>
 		<protocol type="3" id="1000001" name="RoleItem" desc="角色信息" content="int32 role_id = 1;   &amp;#xA;string role_name = 2;&amp;#xA;int32 avatar = 3;&amp;#xA;int32  sex = 4;   &amp;#xA;uint32 create_time = 5;&amp;#xA;uint32 last_login_time  = 6;" onlyServer="True"/>
 		<protocol type="1" id="7057" name="RoleLoginReq" desc="界面上选中某个角色进入游戏" content="string accout = 1; &amp;#xA;int32 role_id = 2;&amp;#xA;string role_name = 3; " onlyServer="True"/>
 		<protocol type="1" id="7000" name="RoleLoginAck" desc="角色进入游戏返回消息" content="string accout = 1; &amp;#xA;int32 role_id = 2;&amp;#xA;string role_name = 3;&amp;#xA;int32 scene_id = 4;&amp;#xA;int32 last_scene_id = 5;&amp;#xA;string gw_hostname = 6;&amp;#xA;int32 gw_port = 7;&amp;#xA;int32 gs_index = 8;&amp;#xA;int64 server_time = 9;&amp;#xA;string session_key = 10;&amp;#xA;int32 result = 11;" onlyServer="True"/>
 		<protocol type="1" id="7150" name="CreateRoleReq" desc="请求创建某个角色" content="string role_name = 1;&amp;#xA;uint32   login_time = 2;&amp;#xA;string login_str = 3;&amp;#xA;uint32 server = 4;&amp;#xA;uint32 anti_wallow = 5;&amp;#xA;uint32 avatar = 6;&amp;#xA;uint32 sex = 7;&amp;#xA;string plat_name = 8;&amp;#xA;string user_uuid = 9;" onlyServer="True"/>
 		<protocol type="1" id="7100" name="CreateRoleAck" desc="创建角色返回" content="int32 errCode = 1;&amp;#xA;uint32 role_id = 2;&amp;#xA;string role_name = 3;&amp;#xA;uint32 avatar = 4;&amp;#xA;uint32 sex = 5;&amp;#xA;int32 create_time = 6;" onlyServer="True"/>
 		<protocol type="1" id="1050" name="UserEnterSceneReq" desc="玩家进入场景" content="int32 scene_id = 1;&amp;#xA;int32 scene_key = 2;&amp;#xA;int32 last_scene_id = 3;&amp;#xA;int32 role_id = 4;&amp;#xA;string role_name = 5;&amp;#xA;int32 time = 6;&amp;#xA;uint32 is_login = 7;    // 登陆还是场景切换&amp;#xA;uint32 reserved1 = 8;&amp;#xA;int32 server = 9;&amp;#xA;string key = 10; &amp;#xA;string user_uuid = 11; &amp;#xA;int32 invitationstatus = 12;" onlyServer="True"/>
 		<protocol type="1" id="1000" name="UserEnterSceneAck" desc="玩家进入场景返回消息" content="int32 errCode = 1;" onlyServer="True"/>
 	</module>
 </protocols>
