<?xml version="1.0" encoding="GB2312"?>
 <protocols>
 	<module name="10 login" package="">
 		<protocol type="1" id="7056" name="LoginMsgReq" desc="登录到游戏并获取角色列表" content="string name = 1;&amp;#xA;string token = 2;&amp;#xA;string uuid = 3;&amp;#xA;string wallet = 4;&amp;#xA;int32 invitationstatus = 5;" onlyServer="True"/>
 		<protocol type="2" id="7001" name="RoleListAck" desc="客户端发送登录消息，服务器返回角色列表" content="int32 errCode = 1;&amp;#xA;int32 count = 2;&amp;#xA;string user_uuid = 3;&amp;#xA;string wallet = 4;&amp;#xA;int32 invitationstatus = 5;&amp;#xA;repeated RoleItem roleItem= 6;" onlyServer="True"/>
 		<protocol type="3" id="1000001" name="RoleItem" desc="角色信息" content="int32 role_id = 1;   &amp;#xA;string role_name = 2;&amp;#xA;int32 avatar = 3;&amp;#xA;int32  sex = 4;   &amp;#xA;uint32 create_time = 5;&amp;#xA;uint32 last_login_time  = 6;" onlyServer="True"/>
 	</module>
 </protocols>
