<?xml version="1.0" encoding="GB2312"?>
 <protocols>
 	<module name="11 login" package="">
 		<protocol type="1" id="1103" name="loginReq" desc="客户端请求登录到游戏中" content="string account = 1; // 账号&amp;#xA;string token = 2; // 登录验证token&amp;#xA;"/>
 		<protocol type="2" id="1104" name="loginAck" desc="服务器返回请求登录信息" content="int32 user_id = 1; // 用户id服务器自动生成&amp;#xA;string account=2; // 用户名称&amp;#xA;"/>
 		<protocol type="1" id="1101" name="CreateAccountReq" desc="客户端请求创建账号" content="string account = 1; //账号&amp;#xA;string password = 2; // md5之后的密码"/>
 		<protocol type="2" id="1102" name="CreateAccountAck" desc="创建账号返回" content="int32 user_id = 1; // 注册服务器自动生成id&amp;#xA;string token=2; // 一个登录临时生成的自动串"/>
 	</module>
 	<module name="12 chat" package=""/>
 </protocols>
