<?xml version="1.0" ?>
<setting>
  <tool>
    <protoc path="E:/ProtocolEditor/ProtoExcelTool/extra/tools"/>
    <proto path="E:/ProtocolEditor/ProtoExcelTool/extra/protos"/>
    <excel path="E:/ProtocolEditor/ProtoExcelTool/extra/excels"/>
  </tool>
  <protocol>
    <tmpl name="服务器" lang="0" publish="E:/ProtocolEditor/ProtoExcelTool/extra/pb/cpp"/>
    <tmpl name="客户端" lang="1" publish="E:/ProtocolEditor/ProtoExcelTool/extra/pb/lua"/>
  </protocol>
  <enum>
    <tmpl name="服务器" lang="0" publish="E:/ProtocolEditor/ProtoExcelTool/extra/enum/cpp"/>
    <tmpl name="客户端" lang="1" publish="E:/ProtocolEditor/ProtoExcelTool/extra/enum/lua"/>
  </enum>
  <table>
    <tmpl name="服务器" lang="0" publish="E:/ProtocolEditor/ProtoExcelTool/extra/tables/cpp"/>
    <tmpl name="客户端" lang="1" publish="E:/ProtocolEditor/ProtoExcelTool/extra/tables/lua"/>
  </table>
</setting>