<?xml version="1.0" ?>
<setting>
  <tool>
    <protoc path="G:/DawaProto/ProtoExcelTool/extra"/>
    <proto path="G:/DawaProto/ProtoExcelTool/extra/protos"/>
    <excel path="G:/DawaProto/ProtoExcelTool/extra/excels"/>
  </tool>
  <protocol>
    <tmpl lang="0" name="ggg" publish="G:/DawaProto/ProtoExcelTool/extra"/>
  </protocol>
  <enum/>
  <table>
    <tmpl lang="0" name="server" publish="G:/DawaProto/ProtoExcelTool/extra/tables/cpp"/>
  </table>
</setting>