<?xml version="1.0" ?>
<setting>
  <tool>
    <protoc path="E:/ProtocolEditor/ProtoExcelTool/extra/tools"/>
    <proto path="E:/ProtocolEditor/ProtoExcelTool/extra/protos"/>
    <excel path="E:/ProtocolEditor/ProtoExcelTool/extra/excels"/>
    <tbjson path="E:/ProtocolEditor/ProtoExcelTool/extra/tablejson"/>
    <hosts>
      <ip host="192.168.50.251:10300"/>
    </hosts>
  </tool>
  <protocol>
    <tmpl name="服务器-cpp" lang="0" publish="E:/ProtocolEditor/ProtoExcelTool/extra/pb/cpp" ttype="1"/>
    <tmpl name="客户端-lua" lang="1" publish="E:/ProtocolEditor/ProtoExcelTool/extra/pb/lua" ttype="2"/>
  </protocol>
  <enum>
    <tmpl name="server" lang="0" publish="E:/ProtocolEditor/ProtoExcelTool/extra/enum/cpp" ttype="1"/>
    <tmpl name="client" lang="1" publish="E:/ProtocolEditor/ProtoExcelTool/extra/enum/lua" ttype="2"/>
  </enum>
  <table>
    <tmpl name="server" lang="0" publish="E:/ProtocolEditor/ProtoExcelTool/extra/tables/cpp" ttype="1"/>
    <tmpl name="client" lang="1" publish="E:/ProtocolEditor/ProtoExcelTool/extra/tables/lua" ttype="2"/>
  </table>
</setting>